@page
@model ErrorModel
@{
    ViewData["Title"] = "Login Fallido";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Too many request.</h2>

<p>
    <strong>The login has been bloqued due too many request.</strong>
</p>
