@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">LOGIN</h1>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
    }

    <form method="post">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" asp-for="Usuario" required>

                <label class="form-label">Contraseña</label>
                <input class="form-control" type="password" asp-for="Contrasena" required>

                <br />
                <button class="btn btn-primary w-100" type="submit">Ingresar</button>

                <br /><br />
                <a class="btn btn-secondary w-100" href="/Register">¿No tienes cuenta? Regístrate aquí</a>
            </div>
        </div>
    </form>
</div>
